<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<!-- Other CSS -->
	<link rel="stylesheet" type="text/css" href="iComputeLogin.css">

	<title>iCompute</title>
</head>
<body>
	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light shadow fixed-top">
		<div class="container">
			<a class="navbar-brand" href="#">iCompute</a>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="index.html">logout</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- Body -->
	<div class="container pt-5">
		<div class="row justify-content-end">
			<div class="col-4 pt-4">
				<h1 class="font-weight-light text-right"></h1>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row h-100 align-items-center">
			<div class="col-12">
				<div class="jumbotron">
					
					<% for(var i=0; i<mcqAll.length; i++) {%>
					<form method="get">
					<b>Question <%= parseInt(i,10)+1 %></b>
					<br><%= mcqAll[i].qInfo.q_text %>
					<% for(var j=0; j<mcqAll[i].qOps.length; j++) {%>
						<br><%= mcqAll[i].qOps[j].op_text %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<% if(mcqAll[i].qOps[j].mc_op_id==mcqAll[i].qInfo.mc_answer) {%>
						<b>(Your selected answer)</b>
						<% } } %>
						<input id="qId" type="hidden" name="qId" value="<%= mcqAll[i].qInfo.q_id %>">
						<input id="qNo" type="hidden" name="qNo" value="<%= parseInt(i,10) %>">
						<input id="fromReview" type="hidden" name="fromReview" value="true">
						<br>
						<div class="btn-group">
							<p><button type="submit" formaction="/mcqGetOne"> Edit my answer</button></p>
						</div>
						<br>
					</form>
					<% } %>
					<form method="get">
						<div class="btn-group center">
							<p><br><button class="btn btn-info" formaction="/mcqSubmit"> Submit Section A </button></p>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>